@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95)
  }
  to {
    opacity: 1
    transform: scale(1)
  }
}

@keyframes fadeInSimple {
  from {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}

@keyframes loading_text {
  0%,100%{
   opacity: 1; 
  }
  50%{
    opacity: 0.1;
  }
}

@keyframes fadeInLoading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutLoading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}